@{
    <div>
        <a asp-action = "Sum" asp-route-press="+">Sum</a> |
        <a asp-action="Sub" asp-route-press="-">Sub</a> |
        <a asp-action="Mul" asp-route-press="*">Mul</a> |
        <a asp-action="Div" asp-route-press="/">Div</a>
    </div>

}